<%= fields_for :contact_info do |ff| %>
  <div><%= ff.label :subregion, :class => "sign_up_label" %><br />
    <% if !@subregions.blank? %>
      <%= ff.select :subregion, @subregions, { :prompt => 'Please select a subregion' } %>
    <% else %>
      <%= ff.text_field :subregion %>
    <% end %>
  </div>
<% end %>