

.photo, .video {
  position: relative;
  background-color: white;
  border: 1px solid white;
  /*min-width: 200px;
  max-width: 200px;*/
}

#photoTable, #videoTable {
  background-color: white; 
  border: 0px solid black; 
  max-width: 99%;
  float: left;
  margin-left: 4%;
}